 Table of Contents */
/* 1- Reset CSS */
/* 2- Section */
/* 3- Section 1 */
/* 4- Section 2  */
/* 5- Section 3 */
/* 6- Media Queries */

/* 1- Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

html, body {
    overflow:hidden;
    margin:0;
    padding:0;

}

/* 2- Sections */

.section {
    text-align: center;
}

#section-1,
#section-2,
#section-3 {
    background-size: cover;
}

/* 3- Section 1 */

.top{
    padding-top:80px;
    width: 100%;
    padding-bottom: 10px;  
    text-align: center;
}

#main-heading {
    font-size: 6em;
}

.stripe {
    height: 50px;
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;
}

#stripe-text {
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

#sub-heading {
    font-size: 2em;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}


/* 4- Section 2 */

/* Tag Buttons */
.tags li {
    display: inline;
}

.tags li a{
    background-color: black;
    color: white;
    border: 1px solid black;
}

.tags li a:hover {
    color: black !important;
    background-color: white !important;
}

.tags {
    padding: 50px 0 20px;
}

.selected-button {
    color: black !important;
    background-color: white !important;
}

/*Thumbnail grid*/

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 50px;
  float: left;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 100px; }
.grid-item--height3 { height: 150px; }
.grid-item--height4 { height: 200px; }


/* Large Portfolio item */

#portfolio-display {
    height: 500px;
    background-size: cover;
    border-radius: 25px;
    display: table;
    width: 100%;
}

.portfolio-text {
    height: 500px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.portfolio-text button {
    font-size: 1em;
    background-color: black;
    color: white;
}
/* Portfolio Item Classes */
.wholeLife {
    background: url("images/wholeLife.png") no-repeat center;
    background-size: cover;
}

.omdb {
    background: url("images/omdb.png") no-repeat center;
    background-size: cover;
}

.snatcherBot {
    background: url("images/snatcherBot.png") no-repeat center;
    background-size: cover;
}

.fracking {
    background: url("images/frackingInFL.png") no-repeat center;
    background-size: cover;
}

.industryByZip {
    background: url("images/industryByZip.png") no-repeat center;
    background-size: cover;
}

.dullBot {
    background: url("images/dullBot.png") no-repeat center;
    background-size: cover;
}

.worstCommutes {
    background: url("images/worstCommutes.png") no-repeat center;
    background-size: cover;
}

/* Navigation */

.fa.fa-chevron-down {
    font-size: 45px;
}


/* 5- Section 3 */
.contact-header {
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px #D3D3D3;
}

.inputLabel {
    text-align: left;
    width: 100%;
    font-size: 1.2em;
}

.contact-form {
    padding: 1px 20px;
    border-right: 20px double rgba(255, 255, 255, .5);
    border-left: 20px double rgba(255, 255, 255, .5);
}

#contact-main-header {
    padding-bottom: 20px;
}

/* 6- Media Queries */
.content-mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .content-desktop {
        display: none;
    }

    .content-mobile {
        display: inline;
    }
}